.bg-primary {
    background-color: #2a56a7 !important;
}

body {
    font-family: Roboto,sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.custom-link {
    text-decoration: none;
}

.custom-link > .v-btn[role='tab'] {
    color: #212529;
    text-transform: unset;
    letter-spacing: 0.5px;
    font-weight: 520;
}

.v-tab--selected .v-tab__slider{
    height: 0px;
}

.router-link-active > button{
    color: #1c74e9 !important;
    border-bottom: 2px solid #1c74e9 !important;
    font-weight: bold !important;
}

.custom-header-title {
    font-size: 22px !important;
    font-weight: 400 !important;
    margin-bottom: 8px !important;
    margin-top: 6px !important;
}

.v-progress-linear__indeterminate {
    color: #91baf0 !important;
}


/* input text */
.v-input__control {
    height: 37px;
}

.v-input__control > .v-field {
    height: 42px;
}
.v-field__input {
    padding-top: 8px !important;
    padding-left: 4px;
}

.v-btn {
    text-transform: unset !important;
}

.dialog-bottom-transition-enter-active,
.dialog-bottom-transition-leave-active {
    transition: transform .2s ease-in-out;
}
.v-dialog .v-overlay__content {
    width: calc(78% - 48px);
}

.v-table--density-default > .v-table__wrapper > table > thead > tr{
    background: #f9f9f9;
}
.v-table--density-default > .v-table__wrapper > table > tbody > tr > td {
    height: 38px !important;
}

.v-table__wrapper .text-input-table {
    border: 1px solid #dfdfdf;
    height: 40px;
    width: 60px;
}

.v-table__wrapper .textarea-input-table {
    border: 1px solid #dfdfdf;
    width: 125px;
    height: 100%;
    padding: 2px 3px;
}
.vertical-top {
    vertical-align: top;
}

.text-input:focus-visible, .text-input:focus, .text-input:visited {
    border: 1px solid #cfeaff !important;
}

.v-dialog .v-overlay__content {
    width: calc(78% - 48px) !important;
    top: 60px;
}

.v-pagination {
    padding: 0px;
    margin: 0px !important;
    background: transparent;
    border-radius: 5px;
}
.v-pagination .v-btn {
    font-size: 14px !important;
    width: 30px !important;
    height: 30px !important;
}

.v-pagination__item.v-pagination__item--is-active {
    color: #3195e5;
    background: white !important;
    border-bottom: 2px solid;
}

.v-pagination__item.v-pagination__item--is-active .v-btn__overlay {
    background: white;
}

.v-pagination__item.v-pagination__item--is-active button {
    font-weight: bold;
}

/* .v-chip--selected.v-chip--selected{
    border-bottom: 1px solid #2a56a7;
} */



.bg-danger {
    background-color: #fff8f8;
    color: black; 
}

.f-12{
    font-size: 12px !important;
}

.f-13{
    font-size: 13px !important;
}
.cursor-pointer {
    cursor: pointer;
}

.decoration-none {
    text-decoration: none;
    color: unset;
}

.v-list-item-hover:hover {
    background: #f7f7f7 !important;
}



/* start */


body, .v-application__wrap .v-main {
    background-color: white;
}

.v-field__append-inner {
    padding-top: 9px !important;
}



.v-system-bar.v-theme--light {
    background-color: white; 
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, .2);
}


.v-text-field--appended  >>> fieldset {
    border-color: rgba(192, 0, 250, 0.986) !important;
}